# Ren'Py
game/python-packages/
lib/
renpy/
*.rpa
*.rpy[bc]
*.save
*.tab
log.txt
errors.txt
traceback.txt
persistent
screenshot*.png

# Doki Doki Literature Club
characters/
DDLC Fan Pack/
DDLC.*
firstrun
CAN YOU HEAR ME.txt
have a nice weekend!
hxppy thxughts.png
iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii.txt
README.html

# Python
__pycache__/

# VSCode
.history
.vscode

# ddlc-jp-patch
/DDLC_JP_*
