# Ren'Py
/characters
/game/cache
/game/python-packages
/lib
/renpy
*.rpa
*.rpyc
log.txt
README.html
errors.txt
traceback.txt
persistent

# Doki Doki Literature Club
/game/firstrun
DDLC.*

# VSCode
.history
.vscode
