# Ren'Py
game/python-packages/
lib/
renpy/
*.rpa
*.rpy[bc]
*.save
log.txt
errors.txt
traceback.txt
persistent

# Doki Doki Literature Club
characters/
DDLC Fan Pack/
DDLC.*
firstrun
CAN YOU HEAR ME.txt
have a nice weekend!
hxppy thxughts.png
iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii.txt
README.html

# VSCode
.history
.vscode
