name: Build by Ren'Py 6.99.12.4

on: [push]

env:
  BASE_VERSION: "v1.1.1"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Get Git describe version and set to env
        run: |
          git fetch --prune --unshallow
          PATCH_VERSION=`git describe --tags`
          ARTIFACT_NAME=DDLC_JP_$PATCH_VERSION
          echo ::set-env name=PATCH_VERSION::$PATCH_VERSION
          echo ::set-env name=ARTIFACT_NAME::$ARTIFACT_NAME

      - name: Build by Ren'Py 6.99.12.4
        run: chmod -R +x ./tools/*.sh && ./tools/distribute.sh

      - name: Upload build artifact
        uses: actions/upload-artifact@v1
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ env.ARTIFACT_NAME }}

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.PATCH_VERSION }}
          release_name: ver${{ env.PATCH_VERSION }} for ${{ env.BASE_VERSION }}
          draft: true

      - name: Upload Release Asset
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-release-asset@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./${{ env.ARTIFACT_NAME }}.zip
          asset_name: ${{ env.ARTIFACT_NAME }}.zip
          asset_content_type: application/zip

  check-translate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Check translates
        run: chmod -R +x ./tools/*.sh && python3 -c 'from tools.check_translate import main; main()'

      - if: failure()
        name: Upload build artifact
        uses: actions/upload-artifact@v1
        with:
          name: Check translates error report
          path: ./error_report.tab
